<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-4">
      <div class="row">
        <h2>EasyNutri</h2>
      </div>
      <form>
        <div class="row mt-2" >
          <label for="label-control">E-mail</label>
          <input [(ngModel)]="usuario.email"
                 type="text"
                 name="email"
                 id="email"
                 class="form-control"/>
        </div>
        <div class="row mt-2">
          <label for="label-control">Senha</label>
          <input [(ngModel)]="usuario.senha"
                 type="password"
                 name="senha"
                 id="senha"
                 class="form-control"/>
        </div>
      </form>
      <div class="row mt-2">
        <button type="button" (click)="loginWithGoogle()" class="btn btn-primary btn-block">
          <i class="fa-brands fa-google"></i>Entrar com Google
        </button>
      </div>
      <div class="row mt-2">
        <button (click)="login()" class="btn btn-success btn-block" >Entrar</button>
      </div>
      <div class="row mt-2">
        <button class="btn btn-success btn-block">Cadastrar</button>
      </div>
      <div class="row mt-2">
        <button class="btn btn-default btn-block"
                (click)="logOut()">Sair da conta do google
        </button>
      </div>
    </div>
  </div>
</div>
