<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-4">
      <div class="row">
        <h2>EasyNutri</h2>
        <img class="logo-login" src="assets/imagens/maca_verde.jpg" alt="Logo da página de login - maçã verde">
      </div>
      <form>
        <div class="row mt-2" >
          <label for="label-control">E-mail</label>
          <input [(ngModel)]="usuario.email"
                 type="text"
                 name="email"
                 id="email"
                 class="form-control"
                 (keyUp.enter)="login()"/>
        </div>
        <div class="row mt-2">
          <label for="label-control">Senha</label>
          <input [(ngModel)]="usuario.senha"
                 type="password"
                 name="senha"
                 id="senha"
                 class="form-control"
                 (keyUp.enter)="login()"/>
        </div>
      </form>
      <div class="row mt-2">
        <button (click)="login()" class="btn btn-success btn-block" >
          Entrar <i class="ml-2 pi pi-sign-in"></i>
        </button>
      </div>
      <div class="row mt-2">
        <a class="btn btn-success btn-block"
        routerLink="/cadastro"
        name="cadastro">
        Cadastrar <i class="ml-2 pi pi-user-plus"></i>
      </a>
      </div>
      <div class="row mt-2">
        <button type="button" (click)="loginWithGoogle()" class="btn btn-primary btn-block">
          Entrar com Google<i class="ml-2 pi pi-google"></i>
        </button>
      </div>
      <div class="row mt-2">
        <button class="btn btn-default btn-block"
                (click)="logOutWithGoogle()">Sair da conta do google
        </button>
      </div>
    </div>
  </div>
</div>
